<!-- <div>
    <div class="footer">
        <h1>Contact us</h1>
        <p>contact us on info@teziafrica.com we promise to reply.</p>
        <p>call us on +254( 0) 780 384 844 or +254(0) 714 272 500</p>
        <div>
            <a href=""></a><button type="button" class="btn btn-primary"> join us today</button>
        </div>
        <p><small>&#169;2021</small></p>
    </div>
    
    

    
</div> -->
<!-- Footer -->
<footer class="page-footer font-small stylish-color-dark pt-4">

    <!-- Footer Links -->
    <div class="container text-center text-md-left">
  
      <!-- Grid row -->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-md-4 mx-auto">
  
          <!-- Content -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">CONTACTS</h5>
          <p>
            contact us on info@teziafrica.com we promise to reply.
            
            or call us on +254( 0) 780 384 844 or +254(0) 714 272 500
            
            View Park towers, Monrovia street, Utalii Lane
            P.O Box 52192-00100, Nairobi, Kenya.</p>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none">
  
        <!-- Grid column -->
        <div class="col-md-2 mx-auto">
  
          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">FEATURES</h5>
  
          <ul class="list-unstyled">
            <li>
              <a href="#!">Brand Building</a>
            </li>
            <li>
              <a href="#!">Strategic Thinking</a>
            </li>
            <li>
              <a href="#!">Story Telling</a>
            </li>
            <li>
              <a href="#!">Technica Innovation</a>
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none">
  
        <!-- Grid column -->
        <div class="col-md-2 mx-auto">
  
          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Quick Links</h5>
  
          <ul class="list-unstyled">
            <li>
              <a href="#!">Your account</a>
            </li>
            <li>
              <a href="#!">Become a Client</a>
            </li>
            <li>
              <a href="#!">Help</a>
            </li>
           
          </ul>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none">
  
        <!-- Grid column -->
        <div class="col-md-2 mx-auto">
  
          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Quick Links</h5>
  
          <ul class="list-unstyled">
            <li>
              <a href="#!">Our work</a>
            </li>
            <li>
              <a href="#!">About Us</a>
            </li>
            <li>
              <a href="#!">Solutions</a>
            </li>
            <li>
              <a href="#!">Home</a>
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->
  
    <hr>
  
    <!-- Call to action -->
    <ul class="list-unstyled list-inline text-center py-2">
      <li class="list-inline-item">
        <h4 class="mb-1">Register for free</h4>
      </li>
      <li class="list-inline-item">
        <a href="#!" class="btn btn-outline-primary btn-rounded">Sign up!</a>
      </li>
    </ul>
    <!-- Call to action -->
  
    <hr>
  
   
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2021 Copyright:
      <a href="https://teziafrica.com/"> TeziAfrica.com</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->