<div class="container-fluid">
    <ul class="nav">
         
          <a class="nav-brand" href="#">TEZIAFRICA</a>
        
        <li class="nav-item">
          <a class="nav-link" href="#">RESOURCES</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">FEATURES</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="#">ADMIN</a>
        </li>
        <li class="nav-item"> 
            <a class="nav-link" href=""><button type="button" class="btn btn-outline-primary">Login</button></a>
        </li><br><br>
        <li class="nav-item">
            <a class="nav-link" href="#"><button type="button" class="btn btn-outline-primary">Sign Up</button></a>
        </li>
        
        
      </ul>
      
</div>
