.nav{
    padding: 30px;
    background-color: var(--primary-color)!important;
    
    
}
a{
    font-size: 30px;
    color: white;
}
.nav-brand{
    font-size: 50px;
}
li{
    position: relative;
    left: 400px;
    
}
button{
    left: 5px;
    color: white;
  
}
.jumbotron {
   color: black;
   text-align: center; 
   background-image: url("https://images.unsplash.com/photo-1618395720102-a933714dc475?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1780&q=80");
   
}
h1{
    font-size: 50px;
}
h3{
    font-size: 30px;
}
