<div >
    <ul class="nav">
         
          <a class="nav-brand" href="#">TEZIAFRICA</a>
        
        <li class="nav-item">
          <a class="nav-link" href="#">RESOURCES</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">FEATURES</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="#">ADMIN</a>
          
        </li>
        <li class="nav-item"> 
            <a class="nav-link"  href=""><button type="button" class="btn btn-outline-primary">Login</button></a>
        </li><br><br>
        <li class="nav-item">
            
          <a class="nav-link" href="#" ><button type="button" class="btn btn-outline-primary">Sign Up</button></a>
        </li>
        
        
      </ul>
      
    </div>
    <div class="banner">
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">WELCOME TO TEZIAFRICA</h1>
    
    <h3>Strategic Thinking | Technical Innovation | Brand Building | Story Telling</h3>
  </div>
</div>
</div>
<router-outlet></router-outlet>