<!-- section1 start -->
<div class="pg-2-section1">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-6 col-xl-6 col-sm-12 col-xs-12">
                <h4 class="about-us">TeziAfrica </h4>
  
            </div>
            <div class="col-md-6 col-lg-6 col-xl-6 col-sm-12 col-xs-12">
              <h4 class="about"> ABOUT US </h4>
            </div>
            <div class="col-md-12 col-lg-12 col-xl-12 col-sm-12 col-xs-12">
                <p class="digi-paper"> Africa is the story, The big story is Africa. This is a market of a billion people
                    <br><br>
                    
                    We are a full service digital agency based in Nairobi, Kenya. We embrace strategic thinking, technical innovation, brand building and story telling to deliver on specified objectives.         </div>
        </div>
    </div>
  
  </div>
  
  <!-- section1 end -->
  
  
  <!-- section 2 start -->
  
  
  <div class="container">
    <div class="abt-card">
            <div class="container-fluid">
                <!-- start of row -->
                    <div class="row">
                        <div class="col-md-12 col-xl-12 col-lg-12 col-sm-12 col-xs-12">
                            <h6 class="who-are"><b> Who are we ? </b></h6>
                            <div class="line"></div>
                            <p class="digi-well"> Tezi Africa is a Full Service Digital Agency based In Nairobi, Kenya. We embrace Strategic Thinking, Technical Innovation, Brand Building and Story Telling as key pillars in delivering on specified objectives.</p>
                        </div>
                        <div class="col-md-12 col-xl-12 col-lg-12 col-sm-12 col-xs-12">
                               <h6 class="how-we"><b> How we do it ? </b></h6>
                               <div class="line"></div>
                               <p class="we-provd"> We embrace Strategic Thinking, Technical Innovation, Brand Building and Story Telling as key pillars in delivering on specified objectives  </p>
                           </div>
                           <div class="col-md-12 col-xl-12 col-lg-12 col-sm-12 col-xs-12">
                                <h6 class="we-achv"><b> Achievements</b></h6>
                                 <div class="line"></div>
                                 <p class="cloud-bsd">we have testimonials from differante people everywhere please look at our site rating and comments for more clarity</p>
                            </div>
                            <div class="col-md-12 col-xl-12 col-lg-12 col-sm-12 col-xs-12">
                                <h6 class="why-us"><b> Why Us ? </b></h6>
                                <div class="line"></div>
                                <p class="digi-cloud"> we have been rated as one of the best across the town with clients givin us a 5star rating for our work. you wunt regrate  working with us we offer nothing but the best </p>
   
                    </div>
                    <!-- end of row -->
                </div>
  
    </div>
  
  </div>
  <!-- section 2 end -->
  
  <!-- section 3 start -->
  
  <!-- section 3 end -->
  