<router-outlet></router-outlet>
<div class="container-fluid">
    
   
    <div class="header" >
   <br>
   <h3>Strategic Thinking | Technical Innovation | Brand Building | Story Telling</h3>
   <br>
   <a href=""><button type="button" class="btn btn-primary btn-lg">Click for more</button></a>
   <br>
   <br>
  <div class="section">
      <h2>FEATURES</h2>
      <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h3 class="card-title">Strategic Thinking</h3>
              <p class="card-text">strategic thinking involves the generation and application of unique business insights and opportunities intended to create competitive advantage for your firm or organization</p>
              <a href="#" class="btn btn-primary">See more</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h3 class="card-title">Technical Innovation</h3>
              <p class="card-text">Let's face it, Africa has gone digital... You are better placed to reach out to your target audience through use of technology, and not just any technology, the best technology available to your audience.</p>
              <a href="#" class="btn btn-primary">See more</a>
            </div>
          </div>
        </div>
      </div><br>
      <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h3 class="card-title">Brand Building</h3>
              <p class="card-text">Brand building is an integral aspect of personal and business development. It not only increases the voice and consumer awareness of your brand, but it also gives it an identity and worth. Participatory and interactive platforms will give your company or organization the chance to enhance brand awareness and equity.</p>
              <a href="#" class="btn btn-primary">See more</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h3 class="card-title">Story Telling</h3>
              <p class="card-text">Stories or narratives have been used in every culture as a means of entertainment, education, cultural preservation and instilling moral values. What is your brand story?</p>
              <a href="#" class="btn btn-primary">See more</a>
            </div>
          </div>
        </div>
      </div>
  </div>

</div>
