
   .header{
      padding-bottom: 200px;
      text-align: center;
      color: white;
      
    //   background-image: url('https://images.unsplash.com/photo-1592463660781-ea9d7d8c12de?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80');
   }
   button{
       margin-left: 100px;
   }
   .section{
       color: black;
       text-align: center;
   }
   h2{
       color: white;
   }
