<router-outlet></router-outlet>
<link rel="stylesheet" href="./app.component.scss">
<div class="container">
    <nav class="navbar fixed-top navbar-light bg-light">
        <a class="navbar-brand" href="#">TEZIAFRICA</a>
        <a class="nav-item"  href="">Resource</a>
        <a class="nav-item"  href="">Ticketing</a>
        <a class="nav-item"  href="">Features</a>
       <button type="button" class="btn btn-outline-success"><a href="">login</a></button>
       <button type="button" class="btn btn-outline-secondary"><a href="">signup</a></button>
      </nav>
      <div class="header">
        <h1>TEZI AFRICA</h1>
       
      </div>
    

</div>