/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
body {
    
    background:lightgray;
    width: auto;
}

$primary :#1a1a1a;

* {
  font-family: 'Nunito Sans';
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  background: #F0F3F5;
}

h1 {
  margin: 0;
  text-align: center;
  padding: 10px;
  font-weight: 600;
}

.mat-list-base {
  display: flex !important;
  padding-top: 0px !important;
  position: absolute;
  right: 0;

}

.desktop-hide {
  display: none !important;
}

.mat-drawer:not(.mat-drawer-side) {
  position: fixed;
}

.mat-drawer-backdrop {
  position: fixed !important;
}

.mat-drawer {
  width: 100%;
  background-color: $primary;



  .close {
    font-size: 28px;
    color: #fff;
    float: right;
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
  }

  h1 {
    color: #fff;
  }

  .mat-list-base {
    display: block !important;
    margin: 0 auto;
    position: relative;

    a {
      text-align: center;
      margin: 0 auto;
    }
  }
}

.mat-button {
  font-size: 24px;
  line-height: 58px !important;
}

.mat-toolbar {
  background-color: $primary !important;

}


.nav {
  position: fixed;
  width: 100%;
  z-index: 9;
}

.mat-list-base .mat-list-item {
  color: #fff !important;
}

.mat-icon {
  color: $primary;
}

h2 {
  text-align: center;
  font-size: 32px;
}

img {
  width: 100%;
  height: 100%;
}

.mat-icon {

  height: auto !important;
  width: auto !important;
}

.silder {
  background-image: url(https://unsplash.com/photos/SUlisDzP9W8/download?force=true&w=1920);
  height: 600px;
  background-size: cover;
  background-position: center;
  opacity: .9;

  .silder-content {
    display: flex;
    justify-self: center;
    align-items: center;
    height: 100%;
    width: 100%;

  }

  .py-7{
    display: flex;
    justify-self: center;
    align-items: center;
    height: 100%;
    width: 100%;

  }


  .mat-icon {
    font-size: 40px;
    color: #fff;
    float: right;
    cursor: pointer;

  }

  h1 {
    color: #fff;
    margin: auto;
    font-size: 50px;

  }
}

.center-content {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.features {
  padding-top: 60px;

  .row {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .column {
      width: 33%;
      float: left;
      text-align: center;
      padding-top: 10px;
      padding-bottom: 10px;



      &:hover {
        background-color: #dfe4ea;
        cursor: pointer;
      }

      p {
        padding: 0 10px;

      }
    }
  }

  h3 {
    font-size: 26px;
    margin-bottom: 0px;
  }

  .mat-icon {
    font-size: 66px;



  }
}

.contents {

  padding-top: 20px;

  h2 {
    padding-bottom: 30px;
  }

  .row {

    width: 100%;
    display: flex;


    .column {
      width: 50%;
      float: left;
      text-align: center;
    }

    h3 {
      font-size: 26px;
      margin-bottom: 10px;
    }

    p {
      padding: 0 20px;
      font-size: 20px;
    }
  }

}

.contactus {
  background-image: url('https://unsplash.com/photos/VivsxaizzVE/download?force=true');
  background-position: center;
  background-size: cover;
  height: 200px;
  padding-top: 60px;
  padding-bottom: 40px;

  .mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: rgba(222, 222, 222, 0.5);
  }

  .mat-form-field.mat-focused .mat-form-field-label {

    color: $primary;
  }

  .mat-input-element {
    caret-color: $primary
  }

  h2 {
    color: #fff;
  }

  form {
    display: block;
    margin: 0 auto;
    width: 50%;
  }

  .mat-form-field {
    width: 100%;
  }

  button {
    width: 100%;
    height: 50px;
    font-size: 18px;
    background-color: $primary;
    color: #fff;
  }
}

.footer {
  span {
    margin: auto;
  }
}

@media(max-width:842px) {
  h3 {
    font-size: 22px !important;
  }

  p {

    font-size: 16px !important;
  }
}

.mat-form-field.mat-focused .mat-form-field-ripple {
  background-color: $primary !important;
}

@media(max-width:768px) {
  .nav {
    display: none !important;
  }

  .desktop-hide {
    display: block !important;
  }

  .silder h1 {
    font-size: 36px;
  }

  .features {
    .row {
      flex-direction: column;
    }

    .column {
      width: 100% !important;
    }
  }

  .contents {
    h2 {
      padding: 0px !important;

    }

    .row {
      flex-direction: column;
    }

    .row:nth-child(2),
    .row:nth-child(4) {
      display: none;
    }

    .column {
      width: 100% !important;
    }
  }
}

@media(max-width:542px) {
  .contactus {
    height: auto;

    form {
      width: 70%;
    }
  }
}
.py-7 {
  padding-top: 9rem !important; }
.py-7 {
   padding-bottom: 9rem !important; }
  