.pg1-section-1 {
    width: 100%;
    height: auto;
    /* height:auto; */
    object-fit: contain;
    background-color: purple;
  }
  .transforming-educati {
    /* width: 513px; */
    /* height: 122px; */
    font-family: CircularStd;
    font-size: 3rem;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    margin-top:30%;
    /* margin:168px 0 0 144px; */
  }
  .cohesive {
    /* width: 633px; */
    /* height: 88px; */
    font-family: CircularStd;
    font-size: 22px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    /* line-height: 1.27; */
    letter-spacing: normal;
    color: #ffffff;
    margin-top:20px;
    /* margin:20px 0 0 143px; */
  }
  .ip {
    width: 100%;
    margin-top:15%;
  }  
  .pg1-section-2 {
    height: auto;
    margin-top:-50px;
    margin-left:50px;
    margin-right:50px;
    /* margin-left:91px;
    margin-right:92px; */
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.18);
  }
  .adm-img {
    width: 100px;
    height: 100px;
  
  }
  .admission-Management {
    /* width: 223px; */
    /* height: 25px; */
    /* margin:162px 0 0 70px; */
    margin-top:46px;
    font-family: CircularStd;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #071d5b;
  }
  .att-img {
    width: 100px;
    height: 100px;
  }
  .attendance-Management {
    /* width: 234px; */
    margin-top:46px;
    height: 25px;
    font-family: CircularStd;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #071d5b;
  }
  .trans-img {
    width: 100px;
    height: 100px;
  }
  .transport-Management {
    /* width: 217px; */
    margin-top:46px;
    /* height: 25px; */
    font-family: CircularStd;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #071d5b;
  }
  .line-1 {
    margin-top:27px;
    margin-left:70px;
    width: 60px;
    height: 4px;
    background-color: #64d9a3;
  }
  .line-2 {
    margin-top:27px;
    width: 60px;
    height: 4px;
    background-color: #64d9a3;
  }
  .admssn-content {
    /* width: 318px; */
    margin-top:49px;
    /* margin-left:70px; */
    /* height: 160px; */
    font-family: CircularStd;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: 0.2px;
    color: #5b6c94;
    text-align: justify;
  }
  .att-content {
    margin-top:49px;
    /* height: 128px; */
    font-family: CircularStd;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: 0.2px;
    color: #5b6c94;
    text-align: justify;
  }
  .trans-content {
    margin-top:49px;
    /* height: 96px; */
    font-family: CircularStd;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: 0.2px;
    color: #5b6c94;
    text-align: justify;
  }
  .fees-img {
    width: 200px;
    height: 100px;
    margin-left: 60px;

  }
  .fees-Management {
    /* margin-top:128px; */
    /* margin-left:70px; */
    /* height: 25px; */
    margin-top:42px;
    font-family: CircularStd;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #071d5b;
    margin-left: 50px;
  }
  .fees-content {
    /* width: 318px; */
    margin-top:49px;
    /* margin-left:70px; */
    /* height: 128px; */
    font-family: CircularStd;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: 0.2px;
    color: #5b6c94;
    text-align: justify;
    margin-left: 50px;

  }
  .hr-img {
    width: 200px;
    height: 100px;
    margin-left: 60px;

  }
  .hr-management {
    /* margin-top: 128px; */
    /* margin-left:70px; */
    margin-top:42px;
    height: 25px;
    margin-left: 50px;

    font-family: CircularStd;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #071d5b;
  }
  .hr-content {
    margin-top:49px;
    /* height: 128px; */
    font-family: CircularStd;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: 0.2px;
    color: #5b6c94;
    text-align: justify;
    margin-left: 50px;

  }
  .admr-img {
    width: 200px;
    height: 100px;
    margin-left: 60px;
  }
  .admr-mod {
    /* margin-top: 128px; */
    /* height: 25px; */
    margin-top:42px;
    font-family: CircularStd;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #071d5b;
    margin-left: 50px;
  }
  .admr-content {
    margin-top:49px;
    /* height: 128px; */
    font-family: CircularStd;
    font-size: 16px;
    font-weight: normal;
    margin-left: 50px;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: 0.2px;
    color: #5b6c94;
    text-align:justify;
  }
  .pg1-section-3 {
    width: 100%;
    height: auto;
    background-color:#f8f9fc;
  }
  .google-play {
    width:25%;
    /* height: 58.9px; */
    border-radius: 6.7px;
    /* background-color: #000000; */
    border: solid 0.7px #8f8f8f;
    margin-top:10%;
  }
  .app-store {
    width:25%;
    /* height: 58px; */
    border-radius: 5.4px;
    margin-top:10%;
    margin-left:36px;
    /* background-color: #000000; */
    border: solid 0.7px #8f8f8f;
  }
  .why-platf {
    font-family: CircularStd;
    font-size: 32px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.88;
    letter-spacing: 1.1px;
    text-align: center;
    color: #000000;
    margin-top:129px;
  }
  .manage-child {
    font-family: CircularStd;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #2f3841;
    margin-top:134px;
  }
  .assi {
    margin-top:7px;
    font-family: AvenirNext;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #2f3841;
  }
  .secure-trn {
    font-family: CircularStd;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #2f3841;
    margin-top:134px;
  }
  .pay-online {
    margin-top:7px;
    font-family: AvenirNext;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #2f3841;
  }
  .cross-pl {
    font-family: CircularStd;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #2f3841;
    margin-top:134px;
  }
  .cross-app {
    margin-top:7px;
    font-family: AvenirNext;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #2f3841;
  }
  .real-tm {
    font-family: CircularStd;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #2f3841;
    margin-top:64px;
  }
  .real-tm-bus {
    margin-top:7px;
    font-family: AvenirNext;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #2f3841;
    margin-bottom:115px;
  }
  .get-notified {
    font-family: CircularStd;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #2f3841;
    margin-top:64px;
  }
  .get-notification {
    margin-top:7px;
    font-family: AvenirNext;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #2f3841;
    margin-bottom:115px;
  }
  .pg-1-section4 {
    width: 100%;
    height: 200px;
    object-fit: contain;
    // background-color: purple !important;
  }
  .coming {
    font-family: CircularStd;
    font-size: 32px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.88;
    letter-spacing: 1.1px;
    text-align: center !important;
    color: #ffffff;
    padding-top:0px;
  }
  .we-lauc {
    font-family: CircularStd;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.56;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    margin-top:5px;
    text-align:justify;
    text-align:center;
  }
  .inp {
    /* width: 529px; */
    opacity: 0.6;
    border-radius: 3px;
    box-shadow: 0 0 8px 0 rgba(177, 177, 177, 0.5);
    border: solid 1px #ffffff;
    background-color: #061230;
  }  
  .sign-up{
       /* width: 120px; */
        /* height: 52px;  */
      border-radius: 4px;
      background-color: #64d9a3;
      color:white;
  }  
  .pg-1-section5 {
    height: auto;
    object-fit: contain;
    /* background-color:#f8f9fc; */
    background-color: rgba(234, 237, 255, 0.42);
  }
  
  .pg-1-section6 {
    width: 100%;
    height: 388px;
    background-color: #ffffff;
  }

  .pg-5-section1{
    background-color:purple;
    color:white;
    width: fit-content;
  }
  .faqs {
    font-family: CircularStd;
    font-size: 48px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    margin-top:10px;
    margin-bottom: 30px;
    text-align: center !important;

  }
  .have-compiled {
    object-fit: contain;
    font-family: CircularStd;
    font-size: 22px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.18;
    letter-spacing: normal;
    color: #ffffff;
    width: 80%;
    text-align: center !important;
  }
  
    
    /* background-color: #ffffff; */
 
  .group-3 {
    width: 100%;
    object-fit: contain;
    margin-top:-10%;
  } 

  
